.item-show-card-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: calc(100vh - 4rem);
  top: 4rem;
  overflow: hidden;
  border-radius: 0.8rem;
  background-color: #eddcd2;
  /* background-color: #282c34; */
  transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
}

.item-show-card-container.hide {
  top: 100%;
  height: 0;
}

.item-show-card-container .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-show-card-container .item-show-card {
  border: 1px solid yellow;
  /* width: 100%; */
}
