.search-page-container {
  width: 100%;
  min-height: 100vh;
}

.search-input-container {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-page-container .results-index {
  border: 1px solid blue;
  width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
