.search-page-container {
  width: 100%;
  height: 100vh;
}

.search-input-container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* fixme: search bar bg color.. */
  background-color: #61dafb;
  border-radius: 0.75rem;
}

.search-input-container img {
  margin: 0 0.5rem 0 0.5rem;
}

.search-page-container .results-index {
  /* border: 1px solid blue; */
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
}

.search-page-container .results-index .results-index-center {
  width: 93%;
  padding: 0 0 1rem 0;
  overflow-y: scroll;
}

.search-page-container .results-index .results-index-center .search-result-item-container {
  width: 100%;
  height: 10rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #282c34;

  display: flex;
  flex-direction: column;
}
