.app-container {
  background-color: #f0efeb;
  color:  #151515;
  /* background-color: #151515;
  color: white; */

  /* fixme: relative font-size */
  /* font-size: calc(10px + 2vmin);  */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
